<h2>Reset Your Password</h2>

<p>Hi {{name}},</p>

<p>
  Seems like you forgot your password for BRAND. If this is true, click the button below to reset
  your password.
</p>

<p style="margin: 24px 0;"> 
  <a
    href="{{url}}"
    style="
      display: inline-block;
      background: #000;
      color: #fff;
      padding: 12px 24px;
      text-decoration: none;
      border-radius: 8px;
      font-weight: 600;
    "
    target="_blank"
  >
    Reset My Password
  </a>
</p>

<p>If you did not forget your password, you can safely ignore this email.</p>
